<div id="wrapper"  ng-init="getMoviesByIndustry()">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div ng-include="'pages/common/sidebar.html'"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row" align="center">
            <div class="col-lg-12">
                <h1 class="page-header">Objects</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div align="center">
                            <a href="#addMovie" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
                        </div>

                    </div >
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        
                                        <th>Movie</th>
                                        <th>Industry</th>
                                        <th>Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeX" ng-repeat="movie in moviesList">
                                        <td><img ng-src="{{movie.photo.url}}" alt="" height="100" width="100"><b>{{movie.name}}</b></td>
                                        <td>{{movie.industry}}</td>

                                        <td>
                                            <button class="btn btn-primary" ng-click= "loadDetailsView(movie.objectId)">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                            <button class="btn btn-primary"  >
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn btn-danger" onClick="return confirm('Are you absolutely sure you want to delete?')" ng-click="deleteMovieByObjectId(movie.objectId)">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#wrapper -->
</div>
